:root {
  --prussian-blue: #12263A;
  --background:  #f0f2f5;
}

#corpo {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0 0.5rem 0;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  margin: 1rem 0 1rem 0;
}

.question {
  background: var(--prussian-blue);
  color: var(--background);
  padding: 1rem;
  border-radius: 0.5rem;
}

.answer {
 margin-left: 1rem;
}